body
{
}
.login
{
	width: 30%;
	background: #FFFF99;
	top: 05%;
	left: 34%;
	position:absolute;
    font-weight:bold;
    margin:10px;
    padding:15px;
    border:#336699 7px solid;
}
p
{
	font-weight: bold;
	font-size: 25px;
}
.btn-success
{
width:50px;
font-weight:bold;
font-size:20px;
}
.bt
{
	font-size:20px;
	font-weight: bold;
	background: #3645;
	color:#800;
}

.btn-danger
{
	width: 240px;
	font-size: 20px;
	font-weight: bold;
}

.login p{
margin:0;
font-weight:bold;
font-size:20px;
}
.login input
{
width:100%;
margin-bottom:20px;
}
h1
{
font-weight: bold;
text-align:center;
	color: #305;
}
.login input[type="text"],input[type="password"]
{
border:none;
border-bottom:1px solid #000;
background:transparent;
outline:none;
height:40px;
font-size:16px;
width:100%;
margin-bottom:20px;
}
.login h5:hover a
{
	text-decoration: none;
} 
h3
{
	font-weight: bold;
}